

# # # Ignore data files in whole folders
generated_images/*
models/*
training_images/raw/*
training_images/resized/*
model_evolution_dir/*

# exceptions to the rule
!generated_images/.gitkeep
!models/.gitkeep
!training_images/raw/.gitkeep
!training_images/resized/.gitkeep
!model_evolution_dir/.gitkeep